@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

/* components-color:#1B1F28
   background-color:#07080B
   component-text-color:#232934
   cta:#F2425F
*/

*{
  font-family: 'Baloo Bhaijaan 2', cursive;
  /* font-family: 'Handlee', cursive; */
  /* font-family: 'Ubuntu Mono', monospace; */
   /* background-color: #07080B; */
  /* color:#d4213f; */ 
margin: 0;
}

.title{
  font-family: 'Lobster', cursive;
}